<style>
    .message-content{
        font-family:Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Hello, {{name}}</p>
    <p>We have received a request to reset your password</p>
    <p>If this request was mande by you, please access the link bellow to configure a new password:</p>
    <p>
        <a href="{{link}}">Password reset</a>
    </p>
    <p>If you have not made such request, please disregard the this email</p>
    <p>
        Thank you<br/>
        <strong>GoBarber Team</strong>
    </p>
</div>
